/* .p{
  width: 200px;
  height: 250px;
}
img{
  width: 150px;
  height: 150px;
  
}
.k{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */

/* table,th,td{
  border: 1px solid black;
} */
img{
  width: 100px;
 height: 100px;
}
.v{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 gap: 20%;
}
.v1{
 width: 100px;
 height: 100px;
}
